@import "bootstrap-sprockets";
@import "bootstrap";


body {
	padding-top: 70px
}

body {
	padding-bottom: 70px
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
    .container {
	  margin-top: 20px;
	}
	a {
		color: #222;
	}
}
a {
color: #222;
}

.form-error-message {
color: red;
margin: 5px;
}
.field_with_errors {
@extend .has-error;
}
