<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<%= link_to 'Zasady korzystania z serwisu', terms_path, class: 'pull-right'%>
		<p class="text-muted">Strona utworzona w celu nauki Ruby on Rails</p>
	</div>
</footer>
